.App {
	text-align: center;
}

h1 {
	margin: 20px;
}

h2 {
	font-size: 80%;
	margin-top: 20px;
	text-transform: uppercase;
}

a {
	color: red;
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: none;
}