.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-link {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.nav-link :hover {
  border-bottom: 2px solid #e67e22;
  padding-bottom: 5px;
  color: white;
}

h2 {
  font-size: 80%;
  margin-top: 20px;
  text-transform: uppercase;
}

.card-container {
  display: flex;
  flex-direction: column;

  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  font-size: 100%;

  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}

.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.container {
  max-width: 460px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid black;
}

.country-container {
  margin-top: 50px;
}

a {
  color: black;
  text-decoration: none;
}

.text-container {
  text-align: center;
  padding: 10px;
  margin: 0 120px;
}
